/*Global*/

*{
  font-family: 'Be Vietnam Pro', sans-serif;
}
html, body{
  height: 100%;
  margin: 0;
  background-color: var(--primary);
}
:root{
  --black: #202124;
  --gray: #292f33;
  --light-gray: #ECECEC;
  --white: #FFFFFF;
}

/*--------------------------global--------------------------*/

/*main-container*/

#main-container{
  max-width: 1036px;
  background-color: var(--primary);
  margin: auto;
  position: relative;
}

/*divider*/

.divider{
  width: 81px;
  height: 2px;
  background-color: var(--light-gray);
  margin: 0 20px 0 20px;
}

/*website-thumb*/

#website-thumb{
  display: none;
}

/*--------------------------navigation--------------------------*/

.navigation-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgba(41, 47, 51, 0.2) 0px 8px 24px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--white);
  transition: all .3s ease;
  box-sizing: border-box;
}
.menu-button{
  position: relative;
  height: 48px;
  width: 48px;
  border: 0;
  padding: 0;
  border-radius: 12px;
  display: none;
  cursor: pointer;
}
.first-button-container{
  position: relative;
  display: block;
  height: 48px;
}
.button-container{
  position: relative;
  display: block;
  height: 48px;
  margin-bottom: 20px;
  transition: all .3s ease;
}
.first-button-thumb{
  width: 48px;
  height: auto;
  transition: all .3s ease;
}
.button-thumb{
  width: 48px;
  height: auto;
}
.button-divider{
  width: 48px;
  height: 0px;
  background-color: var(--light-gray);
  padding-bottom: 2px;
  margin-bottom: 20px;
  opacity: .6;
}
.tooltiptext{
  visibility: hidden;
  width: 120px;
  color: var(--white);
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 110%;
  transition: opacity 0.3s;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  background-color: rgba(41, 47, 51, 0.6);
}
.button-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.first-button-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*--------------------------body--------------------------*/

/*Title section*/

.title-section{
  margin: 140px 20px 36px 20px;
}
.title{
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
  margin: 0 0 12px 0;
}
#blog-title{
  color: #5D5FEF;
}
#vncovi-title-color{
  color: #0A84FF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 12px 0;
  text-decoration: none;
}
#popcorn-title-color{
  color: #EA3349;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 12px 0;
  text-decoration: none;
}
.subtitle{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
  margin: 0;
}

/*Body section*/

.body-section{
  margin: 36px 20px;
}
.paragraph{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
  margin: 0 0 12px 0;
}
.paragraph a{
  text-decoration: none;
}
#vncovi-link-color{
  font-weight: 500;
  text-decoration: none;
  color: #0A84FF;
}
#popcorn-link-color{
  font-weight: 500;
  text-decoration: none;
  color: #EA3349;
}
.heading{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
  margin: 0 0 12px 0;
}
.subheading a{
  color: var(--black);
}
.subheading a:hover{
  color: #5D5FEF;
}
.subheading a:active{
  color: #E790EE;
}
.subheading{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
}
.listing li{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray);
  list-style-type: disc;
  margin: 0 0 12px 0;
}
.tools-container{
  display: inline-flex;
  flex-direction: row;
}
.tools{
  width: 48px;
  height: auto;
  margin-right: 24px;
}
#email-container{
  position: relative;
  overflow: hidden;
  width: 400px;
}
#confirmation-filter{
  width: 400px;
  height: 52px;
  background-color: rgba(231, 144, 238, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: var(--black);
  border: none;
  visibility: hidden;
  cursor: pointer;
  transform: skew(0, 10deg) rotate(10deg) translateY(250px);
  transition: all 0.3s;
}
#email-container:hover > #confirmation-filter{
  visibility: visible;
  transform: skew(0) rotate(0) translateY(0px);;
}
#email-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 400px;
  height: 52px;
  position: relative;
  top: 0;
  left: 0;
}
#email{
  color: var(--black);
  background-color: var(--white);
  border: 2px dashed #E790EE;
  width: 400px;
  height: 52px;
  margin: 0;
  display: block;
  padding: 14px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  text-align: center;
}
.last-section{
  width: 100%;
  height: 20px;
}

/*Project*/

.body-image{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.going-forward-container{
  width: 100%;
  padding: 32px 20px 20px 20px;
  box-sizing: border-box;
  background-color: #FDF8BD;
  margin-bottom: 40px;
}
.going-forward .impact{
  width: calc(50% - 10px);
  margin-right: 20px;
}
.going-forward .what-I-learned{
  width: calc(50% - 10px);
}
.going-forward-divider{
  width: 81px;
  height: 2px;
  background-color: #F4C946;
}
.image-group{
  display: flex;
  flex-direction: row;
}
.partial-body-image{
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}
.ui-showcase-container{
  display: flex;
  flex-direction: row;
}
.ui-showcase-description{
  width: 70%;
}
.ui-showcase-video{
  width: 30%;
}

/*Blogs*/

.blog-body-image{
  width: 60%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 12px;
}
.image-credit{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray);
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}
.blog-link-color{
  font-weight: 500;
  text-decoration: none;
  color: #5D5FEF;
}
.blog-link-color:hover{
  color: #E790EE;
}

/*Media query*/

@media only screen and (max-width: 1112px) {
  .navigation-container{
    bottom: 20px;
    right: 20px;
    height: 80px;
    overflow: hidden;
  }
  .menu-button {
    display: block;
  }
  .first-button-container{
    margin-bottom: 20px;
  }
  .button-container{
   opacity: 0;
  }
}
@media only screen and (max-width: 414px) {
  .tools{
    width: 36px;
    height: auto;
    margin-right: 12px;
  }
  .last-section{
    height: 100px;   
  }
  #email-container{
    width: 300px;
  }
  #confirmation-filter{
    width: 300px;
    font-size: 16px;
    line-height: 20px;
  }
  #email-content{
    width: 300px;
  }
  #email{
    width: 300px;
    font-size: 16px;
    line-height: 20px;
  }
  .image-group{
    display: flex;
    flex-direction: column;
  }
  .partial-body-image{
    width: 100%;
  }
  .ui-showcase-container{
    flex-direction: column;
  }
  .ui-showcase-description{
    width: 100%;
  }
  .ui-showcase-video{
    width: 100%;
  }
  .tools{
    width: 24px;
    height: auto;
    margin-right: 12px;
  }
  .last-section{
    height: 100px;   
  }
  #email-container{
    width: 260px;
  }
  #confirmation-filter{
    width: 260px;
    font-size: 13px;
    line-height: 16px;
  }
  #email-content{
    width: 260px;
  }
  #email{
    width: 260px;
    font-size: 13px;
    line-height: 16px;
  }
  .going-forward-container{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
}











